body {
    font-family: "Apple Braille", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/src/images/black_background.png");
    background-size: cover;
    background-position: bottom;
    color: rgba(113, 112, 112, 0.75);
}

body.dark-mode {
    background-image: url("/src/images/black_background.jpg");
    color: black
}

body.dark-mode .footer {
    background-color: white;
    color: black;
}

.header {
    height: 80px;
    backdrop-filter: blur(17px);
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    position: absolute;
    right: 20px;
    margin: 0;
    height: 40px;
    display: flex;
    gap: 120px;
    border: white solid 1px;
    border-radius: 15px;
    padding: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 300ms;
}

.cards {
    display: flex;
    gap: 50px;
    padding: 40px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    background-color: #000;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_container {
    width: 200px;
    height: 300px;
    perspective: 400px;
    cursor: pointer;
}

.card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.card_container:hover .card_inner {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card_front img,
.card_back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_back {
    transform: rotateY(180deg);
}

